body {

}

/* Perhaps because of the Normalize.css, I had to put this in to get everything to line up in the banner. */
p {
  margin: 0;
  padding: 0;
}



/* -----HEADER----- */

/* Have to set header to be invisible at top and then visible once past the guy with the headphones. */
header {
  position: fixed;
  background-color: rgba(0, 0, 0, 0);
  top: 0;
  height: 10vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

header a {
  color: #ffffff;
  text-decoration: none;
  margin-right: 30px;
}

#headLeft {
  margin-left: 100px;
}

#headRightBig {
  display: block;
}

#headRightSmall {
  display: none;
}

#logo {
  height: 40px;
  width: 200px;
}


/* Contact class info is at bottom of document, under the FOOTER section. */

/* -----BANNER----- */

/* Gotta get the banner image to fit correctly */
.banner {
  background-image: url("banner-guy.png");
  background-size: 100% auto;
  height: 68vh;
  width: 100vw;
  display: flex;
  /*flex-direction: column;*/
  justify-content: center;
  align-items: center;
}

#banner-text {
  color: #ffffff;
  height: 40vh;
  width: 90vh;
  font-family: "Oswald", sans-serif;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  margin: 0;
}

.your-digital {
  font-size: 20px;
}

/* Why is it that when I adjust the font size below, the margins get bigger? */

.workshop {
  font-size: 155px;
  padding: 0;
}

.building {
  align-self: center;
  margin-top: 3vh;
  font-size: 18px;
  line-height: 20px;
}

#sol {
  color: #ff803a;
}

#ideas {
  color: #bdd436;
}

#learn-more {
  font-size: 16px;
  line-height: 23px;
  font-family: "Open Sans", sans-serif;
  padding: 2vh 5vw;
}



/* -----MAIN----- */

#spiel {
  font-size: 24px;
  line-height: 36px;
}

#here {
  font-size: 42px;
  line-height: 46px;
}

/* -----FOOTER----- */

footer {
  background-color: #F6F6F6;
  font-family: serif;
  height: 10vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

footer a {
  color: #6A787C;
  font-size: 12px;
  line-height: 17px;
  text-decoration: none;
  margin-right: 30px;
}

#footLeft {
  margin-left: 200px;
  font-size: 12px;
  line-height: 25px;
}

#footPrivacy {
   color: #BDD436;
   font-size: 10px;
}

.contact {
  margin-right: 200px;
}
