body {
  background-color: blue;
}



/* -----HEADER----- */

/* Have to set header to be invisible at top and then visible once past the guy with the headphones. */
header {
  position: fixed;
  top: 0;
  /*background-color: #F6F6F6;*/
  height: 10vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

header a {
  color: #6A787C;
  text-decoration: none;
  margin-right: 30px;
}

#headLeft {
  margin-left: 100px;
}

#headPrivacy {
   color: #BDD436;
   font-size: 12px;
}

/* Contact class info is at bottom of document, under the FOOTER section. */

/* -----BANNER----- */

.banner {
  background-image: url("./tri-banner.png");
  height: 68vh;
  width: 100vw;
  display: flex;
  /*flex-direction: column;*/
  justify-content: center;
  align-items: center;
}

#banner-text {
  background-color: blue;
  height: 30vh;
  width: 80vh;
  font-family: "Oswald", sans-serif;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding: 0;
}

.your-digital {
  font-size: 20px;
}

/* Why is it that when I adjust the font size below, the margins get bigger? */

/*.workshop {
  font-size: 64px;
}*/

.building {
  align-self: center;
}

#learn-more {
  position: absolute;
  margin-top: 25vh;
}

/* -----MAIN----- */




/* -----FOOTER----- */

/* Don't worry about pushing it to the bottom, that will happen naturally as we stack more divs on top */
footer {
  position: absolute;
  bottom: 0;
  background-color: #F6F6F6;
  height: 10vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

footer a {
  color: #6A787C;
  text-decoration: none;
  margin-right: 30px;
}

#footLeft {
  margin-left: 100px;
}

#footPrivacy {
   color: #BDD436;
   font-size: 12px;
}

.contact {
  margin-right: 100px;
}
